{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}

{% if available == True %}

<div class="alert alert-warning" role="alert">
  There is already a markdown with same title!
</div>

{% endif %}

<form method="POST">
  {% csrf_token %}
  <input name="title" type="text" class="form-control" placeholder="Title"
  style="width: 80%; margin-top: 20px" autocomplete="off" required>
  <textarea name="content" class="form-control" placeholder="Enter content in markdown. If an existing entry with the same title already exists, it is replaced."
  style="width: 80%; margin-top: 20px; height: 30em;" autocomplete="off" required></textarea>
  <button type="submit" class="btn btn-primary" style="margin-top: 20px">Submit</button>
</form>

{% endblock %}
